*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}
/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.outfit-<uniquifier> {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

@media screen  and (max-width:1440px){
  body{
    background-color: hsl(212, 45%, 89%);
  }
  
  .main{
    /* border: 2px solid red; */
    border-radius: 8px;
    background-color: hsl(0, 0%, 100%);
    width: 300px;
    padding: 10px;
    margin-left: 510px;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  img{
    margin-top: 10px;
    width: 260px;
    border-radius: 8px;
  }
   p{
    font-weight: lighter;
    padding-left: 16px;
    padding-right: 16px;
    text-align: center;
    color: hsl(220, 15%, 55%);
    font-weight: 400;
    font-size: 14px;
  }
  
  .card{
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    gap: 8px;
  }
  h1{
    font-size: 20px;
  }
}
@media screen and (width:320px) {
  .main{
    margin-left: 11px;
    margin-top: 40px;
  }
}

@media screen and (width:360px) {
  .main{
    margin-left: 35px;
    margin-top: 45px;
  }
}

@media screen and (width:375px) {
  .main{
    margin-left: 45px;
    margin-top: 40px;
  }
}

@media screen and (width:425px) {
  .main{
    margin-left: 62px;
    margin-top: 55px
  }
}

@media screen and (width:768px) {
  .main{
    margin-left: 225px;
    margin-top: 65px
  }
}

@media screen and (width:1024px) {
  .main{
    margin-left: 365px;
    margin-top: 70px;
  }
}